<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>

  <targets>
    <target name="syslog" type="Syslog" layout="${message} ${exception:format=tostring}">
      <messageCreation>
        <facility>Local7</facility>
        <rfc5424 hostname="RVezy" />
      </messageCreation>
      <messageSend>
        <protocol>TCP</protocol>
        <tcp>
          <server>logs7.papertrailapp.com</server>
          <port>46252</port>
          <tls>
            <enabled>true</enabled>
          </tls>
        </tcp>
      </messageSend>
    </target>
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" appendTo="syslog" />
  </rules>
</nlog>